footer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

footer.absolute {
  bottom: 0;
}

.footer-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

footer * {
  color: rgb(252, 210, 218);
  list-style: none;
  margin: 0;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
}

.footer-links li {
  margin-right: 16px;
}
